.container {
	display: flex;
	min-height: 100vh;
}

.left-wrapper {
	min-width: 300px;
	border-right: 1px solid var(--border);
	display: flex;
	flex-direction: column;
	gap: 70px;
	align-items: center;
	position: fixed;
	height: 100vh;
	background-color: var(--dark-black);
}

.left-heading-wrapper {
	display: flex;
	gap: 14px;
	font-size: 25px;
	line-height: 42px;
	align-items: center;
	padding-top: 16px;
	cursor: pointer;
	margin-top: 30px;
}

.left-link-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: calc(100vh - 200px);
}

.left-link,
.left-link-active {
	display: flex;
	gap: 16px;
	border-radius: 10px;
	height: 60px;
	width: 243px;
	align-items: center;
	padding-left: 26px;
	cursor: pointer;
}

.left-link span,
.left-link-active span {
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
}

.left-link:hover,
.left-link-active {
	background-color: var(--dark-blue);
}

.right-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.right-top-wrapper {
	display: flex;
	height: 120px;
	padding: 16px;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 333px);
	background-color: var(--dark-black);
	border-bottom: 1px solid var(--border);
}

.right-top-wrapper img {
	height: 54px;
	width: 54px;
	border-radius: 50%;
	cursor: pointer;
}

.right-top-text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: flex-end;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.right-top-text-wrapper span {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: var(--grey);
}

.right-top-user {
	display: flex;
	gap: 18px;
	align-items: center;
	margin-left: auto;
}

.right-top-date-wrapper {
	font-size: 18px;
	padding-left: 40px;
	display: flex;
	gap: 50px;
	align-items: center;
}

.right-top-date span {
	color: var(--grey);
	margin-right: 10px;
}

.right-top-date {
	display: flex;
}

.Open {
	background-color: var(--green);
}

.Closed {
	background-color: var(--red);
}

.market-status {
	display: flex;
	gap: 20px;
	align-items: center;

	border-radius: 20px;
	padding: 10px;
}

.status {
	margin-left: 14px;
}

.status span {
	color: rgba(255, 255, 255, 0.7);
}
